:root {
    --background-color: #fd5edb;
    --text-color: #000000;
    --primary-color: #6200ea;
    --secondary-color: #3700b3;
    --alert-color: #ef0606;
    --header-color: rgb(0, 93, 186);
}

.dark-theme {
    --background-color: #470f66;
    --text-color: #f2eded;
    --primary-color: #bb86fc;
    --secondary-color: #3700b3;
    --alert-color: #ec7a8f;
    --header-color: rgb(255, 249, 249);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
