{% extends "base.html" %}

{% block title %}Analytics{% endblock %}

{% block content %}

<h1>Predictive Analytics</h1>
<div class="analytics-charts">
    <h2>Environmental Data Trends</h2>
    <canvas id="temperatureChart"></canvas>
    <canvas id="gasLevelChart"></canvas>
    <canvas id="vibrationChart"></canvas>

    <h2>Equipment Health Trends</h2>
    <canvas id="motorTempChart"></canvas>
    <canvas id="pressureChart"></canvas>
</div>

<!-- Include Chart.js from CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script  src="{{ url_for('static', filename='js/analytics.js') }}">
  
</script>

{% endblock %}

